@black: #172B4D;
@blue: #0049b0;
@red: #b50000;

* {
	box-sizing: border-box;
	-webkit-font-smoothing: subpixel-antialiased;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	outline: none;
}

html {
	height: 100%;
}

body {
	background: #f6f6f6;
	margin: 0;
	padding: 0;
	min-height: 100%;
	overflow-x: hidden;
	font-size: 13px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Oxygen, Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
	width: 100%;
	// min-width: 350px;
	height: 100%;
	padding: 1.5em 1em 0;

	menu {
		position: absolute;
		top: 1em;
		right: 1em;
		text-align: right;

		a {
			color: @black;
			text-decoration: none;
			margin: 0 .4em;
			font-size: 1.5em;

			&:hover {
				color: lighten(@black, 20%);
			}
		}
	}

	.cities-list {
		margin: 0 -1em;

		&::after {
			content: "";
			display: block;
			clear: both;
		}

		article {
			display: inline-block;
			width: ~"calc(100% / 5)";
			float: left;
			padding: 0 1em;
			margin-bottom: 1em;

			.inner {
				background: #fff;
				border-radius: 5px;
				box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
				padding: 1em;
				display: flex;
				justify-content: space-between;

				.title {
					font-weight: bold;
					font-size: 1.1em;
				}

				.temp {
					color: @blue;
					font-size: 2em;
				}
			}
		}
	}
}

.list-label {
	display: block;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .5);
	z-index: 50;
	opacity: 0;
	transition: opacity .6s;

	&.show {
		opacity: 1;

		.modal-inner {
			opacity: 1;
		}
	}

	.modal-inner {
		position: absolute;
		top: 1em;
		left: 50%;
		transform: translateX(-50%);
		border-radius: .4em;
		background: #fff;
		min-width: 400px;
		padding: 1em 1em 2.5em;
		opacity: 0;
		transition: opacity .6s;

		.close {
			position: absolute;
			top: .3em;
			right: .5em;
			cursor: pointer;
			color: @black;

			&:hover {
				color: @blue;
			}
		}

		button {
			margin-top: 1em;
			background: @blue;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			color: #fff;

			&:hover {
				background: lighten(@blue, 10%);
			} 
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.wrapper {
		padding-top: 6em;

		.cities-list article {
			width: ~"calc(100% / 3)";
		}
	}
}

@media screen and (max-width: 767px) {
	.wrapper {
		padding-top: 6em;

		.cities-list article {
			width: ~"calc(100% / 2)";
		}
	}
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}