<!DOCTYPE html>
<html lang="ru" ng-app="weather">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

	<title>Погода</title>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<section class="wrapper" ng-controller="MainController">
		<menu>
			<a ng-if="loadingForecast"><i class="fa fa-spin fa-circle-o-notch"></i></a>
			<a href="javascript:void(0)" ng-click="geolocation.getLocation()"><i class="fa" ng-class="{'fa-spin fa-circle-o-notch': geolocation.gettingLocation, 'fa-location-arrow': !geolocation.gettingLocation}"></i></a>
			<a href="javascript:void(0)" ng-click="openCityList()"><i class="fa fa-building-o"></i></a>
			<a href="javascript:void(0)" ng-click="openUnitsList()"><i class="fa fa-dot-circle-o"></i></a>
		</menu>

		<div class="cities-list" ng-if="forecast.length" ng-cloak>
			<article ng-repeat="city in forecast">
				<div class="inner">
					<div class="info">
						<div class="temp">
							<span ng-bind-html="city.main.temp"></span>
							<span ng-bind-html="city.unit"></span>
						</div>
						<div class="title" ng-bind-html="city.city.name"></div>
					</div>
					<div class="icon">
						<img ng-src="{{city.icon}}" alt="">
					</div>
				</div>
			</article>
		</div>

		<div ng-if="!forecast.length" ng-cloak class="not-found">Для начала необходимо <a href="javascript:void(0)" ng-click="openCityList()">выбрать</a> хотя бы один город.</div>
	</section>
	
	<script src="https://use.fontawesome.com/cf3eb4e9ce.js"></script>
	<script src="./js/vendor.min.js"></script>
	<script src="./js/app.min.js"></script>
</body>
</html>